{% extends "main.html" %}
{% block head %}

		<script type="text/javascript">
		$(document).ready(function() {

        $("#vote").click(function(){
          $.ajax({
              type: 'POST',
              url: "/vote",
              data: {value: 1},
              dataType: "text",
              success: function(data){
                var str1 = "Votes: "
                var str2 = "Votes needed to skip: "
                var parsed = JSON.parse(data)
                     document.getElementById("count").innerHTML = str1.concat(parsed['count']);
                     document.getElementById("members").innerHTML = str2.concat(parsed['members']);
                     document.getElementById("track").innerHTML = parsed['track'];
                if(parsed['reset']=='yes'){
                  document.getElementById("vote").disabled = false;
                }
                else{
                  document.getElementById("vote").disabled = true;
                }
                     

                  }
          });
      });


		});
  		</script>

{% endblock %}
{% block body %}

	<h1>Now Playing:</h1>
	<h1 id='track'>{{track}}</h1>

	<button id="vote">Vote to skip</button>
  <h5 id="count">Votes: {{votes}}</h5>
  <h5 id="members">Votes needed to skip {{required}}</h5>

{% endblock %}